.forminput{
    width: 50vw;
}
.forminput-age{
    width: 15vw;
   
}
.input-data{
    width: 200px;
}
.stu-detail-form{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
}